// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$mdb-blue:#00A2FF;
$mdb-indigo:#6610f2;
$mdb-purple:#6f42c1;
$mdb-pink:#d63384;
$mdb-red:#dc3545;
$mdb-orange:#fd7e14;
$mdb-yellow:#ffc107;
$mdb-green: #2dcd7a;
$mdb-teal:#20c997;
$mdb-cyan:#0dcaf0;
$mdb-gray:#757575;
$mdb-gray-dark:#3B3E51;
$mdb-primary:$mdb-blue;
$mdb-secondary:#b23cfd;
$mdb-success:$mdb-green;
$mdb-info:#39c0ed;
$mdb-warning:#ffa900;
$mdb-danger:#f93154;
$mdb-light:#fbfbfb;
$mdb-dark:#262626;
$mdb-white:#fff;
$mdb-black:#000;


$blue: $mdb-blue;
$indigo: $mdb-indigo;
$purple: $mdb-purple;
$pink: $mdb-pink;
$red: $mdb-red;
$orange: $mdb-orange;
$yellow: $mdb-yellow;
$green: $mdb-green;
$teal: $mdb-teal;
$cyan: $mdb-cyan;
$primary:$mdb-blue;
$secondary:#7467F0;
$success:$mdb-green;
$info:#39c0ed;
$warning:#FF9F43;
$danger:#f93154;
$light:#fbfbfb;
$dark:#262626;
$white:#fff;
$black:#000;
