

@mixin package-card {

    .service-package {
        .card {
            color: #3b3e51;
            background-color: #ffffff;
            padding: 25px 10px;
            margin: 15px 0;
            border: 1px solid #ddd;
            box-shadow: 0 4px 5px rgb(0 0 0 / 5%);

            .card-header, .card-footer {
                background: transparent;
                border: 0;
                color: #3b3e51;
            }
        }

        .package-type {
            padding: 5px 10px;
            border-radius: 15px;
            margin: 5px 0;
        }
        .package-title, .package-price {
            margin: 0;
        }
        .sec {
            width: fit-content;
        }
        .package-placeholder {
            color: grey;
            font-weight: 200;
        }
        div.package-desc {
            overflow: hidden;
        }
        .package-desc {
            padding: 5px 25px;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            font-weight: 200;
            font-size: 12px;
            height: 120px !important;
        }
        .package-delivery, .package-reviews {
            font-size: 12px;
            font-weight: 100;
            color: grey;
        }
        .package-delivery .fa {
            color:  var(--mdb-indigo);
        }
        .package-reviews .fa {
            color:  var(--mdb-success);
        }
        .package-offers {
            padding: 10px;
            .offer{
                color: gray;
                padding: 0 10px;
            }
        }
        .package__badge {
            text-transform: capitalize;
            color: white;
            &--basic {
                background: var(--success);
            }
            &--standard {
                background: var(--secondary);
            }
            &--premium {
                background: var(--warning);
            }
        }
        .text-basic {
            color: var(--success);
        }
        .text-standard {
            color: var(--secondary);
        }
        .text-premium {
            color: var(--warning);
        }
        .btn {
            &:hover {
                color: white;
            }
            &-basic {
                color: var(--success);
                border-color: var(--success);
                &:hover {
                    background: var(--success);
                }
            }
            &-standard {
                color: var(--secondary);
                border-color: var(--secondary);
                &:hover {
                    background: var(--secondary);
                }
            }
            &-premium {
                color: var(--warning);
                border-color: var(--warning);
                &:hover {
                    background: var(--warning);
                }
            }
        }

    }

    .package-switch-btn {
        background: #dfdfdf;
        border-radius: 1em;
        box-shadow: none !important;
        text-transform: capitalize;
        display: block;
        width: 30%;
    }
    .package-switch-btn.active {
        color: white;
        box-shadow: none !important;
    }
    #basicPackageBtn.active {
        background: $mdb-success;
    }
    #standardPackageBtn.active {
        background: $mdb-secondary;
    }
    #premiumPackageBtn.active {
        background: $mdb-warning;
    }
}
